
<h1>hello!</h1>
<div class="container">
  <h1 class="page-header">Movies</h1>
  <%= Faker::Name.name  %>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <th>Movie ID</th>
      <th>Title</th>
      <th>Genres</th>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.movieId %></td>
          <td><%= movie.title %></td>
          <td><%= movie.genres %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


