<p id="notice"><%= notice %></p>

<p>
  <strong>Suit:</strong>
  <%= @card.suit %>
</p>

<p>
  <strong>Color:</strong>
  <%= @card.color %>
</p>

<p>
  <strong>Value:</strong>
  <%= @card.value %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
